.div{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    h1{
        padding-top: 200px;
        text-align: center;
        align-items: center;
        justify-content: center;

    }
}