.navContent{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2127;
}
.logo{
    margin: 10px;
    margin-left: 50px;
    font-size: 25px;
    a{
        text-decoration: none;
        color: white;
    }
}
.navListItems{
    margin-right: 50px;
    .active{
        color:#6e83b1;
    }
    ul{
        list-style: none;
        display: flex;
        li{
            margin-left: 20px;
            a{
        color: white;
        text-decoration: none;
            }
        }
    }
}