.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    .title{
        height: 85vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .welcome{
            text-align: start;
            height: 4.5em;
            margin: 10px;
        }
        .titleMiniBlog{
            h1{
                font-weight: 600;
            }
        }
    }
    .headerSearch{
        background-color: #e2e2e2;
        display: flex;
        align-items: start;
        width: 100%;
        height: 10em;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-around;
        align-items: center;
        h1{
            font-size: 70px;
        }
        .search{
            border-radius: 10px;
            label{
                border: none;
                input{
                    border: none;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    width: 250px;
                    height: 45px;
                    margin-right: 10px;
                    outline: none;
                    &:focus{
                        border-bottom: 1px solid;

                    }
                }

            }
        }
    }
    .posts{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .postsDetails{
            margin: 5px;
            
        }
    }
    .footer{
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            margin: 10px;
            button{
                width: auto;
                font-size: 20px;
                padding: 10px;
            }
        }
    }
}/* 
.loading {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    .loader {
        border: 8px solid #4f4f4f;
        border-top: 8px solid #d1d1d1;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
  } */
  @media only screen and (max-width: 920px){
    .container{
        overflow: hidden;
    }
    .headerSearch{
        margin-top: 100px;
        h1{

        display: none;
        } 
    }
}
@media only screen and (max-width: 520px){
    .container{
        overflow: hidden;
    }
    .search{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}