.navContent{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2127;
    z-index: 2;
}
.logo{
    margin: 10px;
    margin-left: 50px;
    font-size: 25px;
    a{
        text-decoration: none;
        color: white;
    }
}
.hamburguer{
    display: none;
}
.navListItems{
    margin-right: 50px;
    .active{
        color:#6e83b1;
    }
    ul{
        list-style: none;
        display: flex;
        li{

            &::after{
                content: '';
                display: flex;
                width: 0%;
                height: 1px;
                background-color: white;
                transition: .2s;
            }
            &:hover::after{
                transition: .2s;
                width: 100%;
            }

            margin-left: 20px;
            a{
                color: white;
                text-decoration: none;
                transition: 0.2s;
                display: flex;
                justify-content: center;
                align-items: baseline;
                &:hover{
                    transition: 0.2s;
                    color:#6e83b1;
                }
                i{
                    font-size: 90%;
                    margin-left: 4px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .navListItems{
        display: none;
    }
    .showMenu{
        width: 25%;
        text-align: center;
        border-radius: 10px;
        background-color: #1e2127;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 30px;
        top: 50px;
        ul{
            display: flex;
            flex-direction: column;
            li{
                margin: 10px;
                i{
                    display: none;
                }
            }
        }
    }
    .hamburguer{
        font-size: 40px;
        display: block;
        margin-right: 30px;
    }
    
}