.navContent{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2127;
}
.logo{
    margin: 10px;
    margin-left: 50px;
    font-size: 25px;
    a{
        text-decoration: none;
        color: white;
    }
}
.hamburguer{
    display: none;
}
.navListItems{
    margin-right: 50px;
    .active{
        color:#6e83b1;
    }
    ul{
        list-style: none;
        display: flex;
        li{
            margin-left: 20px;
            a{
        color: white;
        text-decoration: none;
            }
        }
    }
}

@media only screen and (max-width: 550px){
    .navListItems{
        display: none;
    }
    .showMenu{
        width: 20%;
        text-align: center;
        border-radius: 10px;
        background-color: #1e2127;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 30px;
        top: 50px;
        ul{
            display: flex;
            flex-direction: column;
            li{
                margin: 5px;
            }
        }
    }
    .hamburguer{
        font-size: 40px;
        display: block;
        margin-right: 30px;
    }
    
}