.navContent{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(6, 6, 6, 0.959)
}
.logo{
    margin: 10px;
    margin-left: 50px;
    font-size: 20px;
    a{
        text-decoration: none;
        color: white;
    }
    span{
        font-size: 18px;
        font-weight: 600;
    }
}
.navListItems{
    margin-right: 50px;
    ul{
        list-style: none;
        display: flex;
        li{
            margin-left: 20px;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}