.footer{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 20em;
    text-align: start;
    background: linear-gradient( 0.2turn,#5c4d6b 20%,rgba(0, 0, 0, 0.93));
    color: white;
    border-top: 5px  dashed ;
    .content{
        margin: 100px;
        font-size: 25px;

        h1{
            margin: 10px;
        }
        p{
            text-align: justify;
        }
        h3{
            margin-top: 20px;
        }
    }
}