.container{
    max-width: 21em;
    min-width: 21em;
    .imageArea{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        .image{
            margin: 0 auto;
            position: relative;
            a{
                text-decoration: none;
                color: white;
                padding: 2px;
                text-align:right;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1;
                margin: 20px;
                &::after{
                    content: '';
                    display: flex;
                    width: 0%;
                    height: 1px;
                    background-color: white;
                    transition: .2s;
                }
                &:hover::after{
                    transition: .2s;
                    width: 100%;
                }
            }
            .tags{
                display: flex;
                color: white;
                padding: 2px;
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                margin: 20px;
                p{
                    margin: 5px;
                    font-size: 20px;
                }

            }
            img{
                margin: 0 auto;
                max-width: 25em;
                min-width: 21em;
                max-height: 25em;
                min-height: auto;
                height: 100%;
                width: 100%;

            }
        }
    }
}